.input-field {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #4f46e5;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.btn:disabled {
  background-color: #a5b4fc;
}
